.App {
  text-align: center;
  background-color: #f0f4f9;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  justify-content: space-between;
  padding: 8px;
  height: 8%;
}

.headerLeft {
  display: flex;
  justify-content: space-around;
  padding-right: 30px;
}

.headerMenu {
  padding: 12px;
  margin: 0 5px;
}

.content {
  height: 85%;
  overflow: hidden;
  display: flex;
}

.fadein {
  position: relative;
  animation: fadeIn 0.4s 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0%   { 
    top: 15px;
    display: none;
  }
  100% { top: 0px; }
}

.fadeinleft {
  position: relative;
  animation: fadeInLeft 0.4s 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInLeft {
  0%   { 
    left: -15px;
    display: none;
  }
  100% { 
    left: 0px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.a-center {
  display: flex;
  align-items: center;
}

.j-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.j-btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;

  &:hover {
    background-color: #dde3ea;
    border-radius: 50px;
  }
}
