.menuWebContainer {
  width: 15%;
  text-align: left;
  padding: 10px 0 0 25px;
  transition: opacity 0.2s ease-out;
}

.recent-label {
  font-size: 14px;
  margin: 15px 0;
}

.recentQueryRenderer {
  font-size: 14px;
  padding: 5px 15px;
}

.query-label {
  margin-left: 10px;
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
}

.newChatBtn {
  background-color: #d3e3fd !important;
  color: #041e49 !important;
  font-weight: 700 !important;
}

.recentLabelLeftIcon {
  background-color: white;
  border-radius: 8px;
  width: 30px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 16px;
  }
}

.selectedRQ {
  background-color: #c2e7ff;
  border-radius: 22px;
  font-weight: 500;
}