.prompt-tile {
  background: #f0f4f9;
  border-radius: 15px;
  padding: 20px;
  width: 25%;
  height: 250px;
  margin: 0 10px;
}

.prompt-tile-heading {
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-weight: 700;
}

.heading-0 {
  background: linear-gradient(90deg,#cf8d7c,#a77cb4);
  background-clip: text;
  color: transparent;
}

.heading-1 {
  background: linear-gradient(90deg,#a77cb4,#7f7dd1);
  background-clip: text;
  color: transparent;
}

.heading-2 {
  background: linear-gradient(90deg,#7f7dd1,#548dd9 100%,#548dd9 0);
  background-clip: text;
  color: transparent;
}

.prompt-option {
  background: white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 15px 0;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 85%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}