.responseWindow {
  padding: 30px 0;
}

.question {
  align-items: flex-start;
  display: flex;
}

.activeQueryQuestion {
  background: rgb(240 244 248);
  width: fit-content;
  border-radius: 20px;
  border-top-left-radius: 5px;
  padding: 15px;
  margin-left: 10px;
  display: flex;
}

.qResponse {
  align-items: flex-start;
  display: flex;
  margin: 20px 0;
  padding: 10px 0;
}

.activeResponse {
  width: fit-content;
  margin-left: 10px;
}

.activeQueryQuestionEdit {
  margin-left: 10px;
}

.activeEditedQueryInput {
  padding-left: 20px;
  width: 95%;
  height: 45px;
  border-radius: 20px;
  border-top-left-radius: 5px;
  font-size: 16px;
}

.activeQueryEditMode {
  margin-left: 10px;
  width: 90%;
}

.activeQueryEditModeActions {
  text-align: right;
  margin: 20px 0;
}

.cancelBtn {
  color: rgb(11 87 208) !important;
  font-weight: 700 !important;
  font-family: "Google Sans",Roboto,Arial,sans-serif !important;
}

.updateBtn {
  font-weight: 700 !important;
  background-color: rgb(81 140 216) !important;
  color: white;
  font-family: "Google Sans",Roboto,Arial,sans-serif !important;
}